apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - cloudflare-tunnel-token.yml
  - servicemonitor.yaml

helmCharts:
  - name: cloudflared
    repo: https://charts.kubito.dev
    version: 1.7.4
    releaseName: "cloudflared"
    includeCRDs: true
    namespace: cloudflared
    valuesFile: values.yaml

