apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - netbird-agent-setup-key.yml

helmCharts:
  - name: app-template
    repo: https://bjw-s-labs.github.io/helm-charts
    releaseName: netbird
    namespace: netbird
    version: 4.6.2
    valuesFile: values.yaml
